
</div>

<div class="compose">
  <button><a href="/compose">COMPOSE</a></button>
</div>

<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright 2022 Ryan Vu. All Rights Reserved!</p>
  </div>
</div>
</body>
</html>
